libsgp4/*.o
.deps
config.*
Makefile
runtest/runtest
runtest/*.o
sattrack/sattrack
sattrack/sattrack.o
passpredict/passpredict
passpredict/passpredict.o
groundtrack/groundtrack
groundtrack/groundtrack.o
libsgp4/libsgp4.a
autom4te.cache
*.sublime-project
*.sublime-workspace
npp.tle